.card {
  width: 44rem; 
  height: 23rem; 
  margin: 1rem;
}
.card p {
  font-size: 1.4rem;
}
.card ul li{
  text-align: center;
  margin: 0.6rem;
  border:1px solid #ebebeb; 
  width:37rem; 
  height: 3.1rem; 
  font-weight: bold; 
  background-color: #ffffff; 
  box-shadow: 0 0.2rem 0.2rem #e6e6e6; 
  line-height: 3.1rem;
  list-style: none;
}
